# Python testing
Pipfile
**/Pipfile
Pipfile.lock
**/Pipfile.lock
.test-plans
**/.test-plans
.cache
**/.cache
*.pyc
**/*.pyc
*.pyo
**/*.pyo
*.zip
**/*.zip
__pycache__
**/__pycache__
.tox
**/.tox
*.egg-info
**/*.egg-info
.coverage
**/.coverage
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
nosetests.xml
**/nosetests.xml
coverage.xml
**/coverage.xml
htmlcov/
**/htmlcov/
report.xml
**/report.xml
build/*
**/build/*
dist/*
**/dist/*
test-*generated*.yml
**/test-*generated*.yml
**/output.xml
# Local files
_TODO.md
.DS_Store
._.DS_Store
.librarian
.idea
.vscode
.history
*swp
!.envrc
.direnv
.editorconfig
**/.git-credentials
**/venv
